use Mix.Config
# Configure your database
config :ie_chat_bot, IeChatBot.Repo,
  username: "postgres",
  password: "",
  database: "ie_chat_bot_dev",
  hostname: "localhost",
  show_sensitive_data_on_connection_error: true,
  ool_size: 10
